@import "../../../styles/index.scss";

.header {
       height: $header;
       padding: $md;
       border-bottom: $one solid $secondary-white;
       box-shadow: $primary-shadow;

       .navbar {
              display: flex;
              align-items: center;
              .admin-profile {
                     margin-left: auto;
                     padding: $md;
                     background-color: $primary-white;
              }
       }

};
