
$primary-white: #fff;
$secondary-white: #f6f6f6;

$primary-black: #000;
$secondary-black: #323232;;

$primary-gray: #ccc;
$secondary-gray: #f1f1f1;

$roz-gold: #F9DBBA;
$cyan: #5B99C2;
$blue: #1A4870;
$dark-blue: #1F316F;


