.login {
      width: 100vw;
      height: 100vh;
      
      display: flex;
      align-items: center;
      justify-content: center;

      .inputsWrapper {
       width: 600px;
       height: 600px;
       
      }
}